@model KMBit.Models.EditAgentRouteModel
@{
    KMBit.Beans.BAgentRoute ruote = null;
    if (ViewBag.Ruote != null)
    {
        ruote = (KMBit.Beans.BAgentRoute)ViewBag.Ruote;
    }
    ViewBag.Title = "修改套餐价格";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Agent.cshtml";
}

@if (!Request.IsAjaxRequest())
{
    <h2>@ViewBag.Title</h2>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (!Request.IsAjaxRequest())
        {
            <hr />
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AgencyId)
        @Html.HiddenFor(model => model.ResourceId)
        @Html.HiddenFor(model => model.Discount)
        @Html.Hidden("ResouceTaocans", string.Join(",", Model.ResouceTaocans))
        @Html.HiddenFor(model => model.Enabled) 
        <div class="form-group">
            <label class="control-label col-md-2" for="Email">运营商</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Taocan.SP!=null?ruote.Taocan.SP.Name:"全网")" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Email">归属地</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Taocan.Province!=null?ruote.Taocan.Province.Name:"全国")" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Email">流量</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Taocan.Taocan.Quantity+"M")" />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Email">平台售价</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Taocan.Taocan.Sale_price+"元")" />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Email">平台折扣</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Route.Discount.ToString("0.00"))" />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Email">代理价格</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw((ruote.Route.Discount*ruote.Taocan.Taocan.Sale_price).ToString("0.00"))" />

            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.SalePrice, htmlAttributes:new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (ViewBag.Message != null)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <p style="color:red;">@Html.Raw(ViewBag.Message)</p>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}


