@{
    ViewBag.Title = "在售宝贝";
    KM.JXC.BL.Models.BPageData data = null;
    if(Model!=null){
        data = (KM.JXC.BL.Models.BPageData)Model;
    }
    
    List<KM.JXC.BL.Models.BMallProduct> products = (List<KM.JXC.BL.Models.BMallProduct>)data.Data;
    System.Collections.Generic.Dictionary<string, string> paras = KM.JXC.Web.Utilities.JXCPageUtil.ParseURLParams(Request.RawUrl);
    
    KM.JXC.BL.Models.BMallSync lastSync = null;
    if (ViewData["LastSync"]!=null){
        lastSync = (KM.JXC.BL.Models.BMallSync)ViewData["LastSync"];
    }

    List<KM.JXC.BL.Models.BShop> childshops = new List<KM.JXC.BL.Models.BShop>();
    if (ViewData["ChildShop"]!=null)
    {
        childshops = (List<KM.JXC.BL.Models.BShop>)ViewData["ChildShop"];
    }

    KM.JXC.DBA.Shop CurrentShop = (KM.JXC.DBA.Shop)ViewData["CurrentShop"];    
}
<script>
    var shopMgr = new KMJXCShopManager();
    var pdtMgr = new KMJXCProductManager();
    var productListPageSize = 20;
    $(function () {
        $('#tabs').tabs();
        $(document).tooltip();

        $('#btnSync').button({ icons: { primary: "ui-icon-transferthick-e-w" } }).click(function (e) {
            var $progress = new ShowProgress("sync_trade_progress_bar", function () { }, "正在同步，同步过程中，不要关闭浏览器，请耐心等待...");
            var createdProduct = 0;
            if ($('#sync_chk_create_product').attr('checked') == 'checked') {
                createdProduct = 1;
            } else {
                createdProduct = 0;
            }
            shopMgr.SyncMallSoldProducts({'create_product':createdProduct}, function (res) {
                Boxy.get($('#sync_trade_progress_bar')).hide();
                if (res.Status == 'ok') {
                    new MessageBox("同步完成，新生成 " + res.Item + " 个出售中的宝贝到进销存", 1500);
                    location.reload();
                } else {
                    alert("同步失败,"+res.Message);
                }
            });
        });

        $('#btn_search_map_product').button({ icons: { primary: "ui-icon-search" } }).click(function () {
            SearchProducts(1);
        });

        pdtMgr.GetCategories({}, function (res) {
            if (res != null) {
                $('#opt_pcategory').append("<option value=\"0\">--选择--</option>");
                $(res.data).each(function (index, item) {
                    $('#opt_pcategory').append("<option value=\"" + item.ID+ "\">" + item.Name + "</option>");
                });
            }
        });

        $('#opt_pcategory').change(function () {
            var pid = $(this).val();
            if (pid == 0) {
                $('#opt_ccategory').empty().hide();
                return;
            }
            pdtMgr.GetCategories({'parent_id':pid}, function (res) {
                if (res != null) {
                    $('#opt_ccategory').empty();
                    $('#opt_ccategory').append("<option value=\"0\">--选择--</option>");
                    $(res.data).each(function (index, item) {
                        $('#opt_ccategory').append("<option value=\"" + item.ID + "\">" + item.Name + "</option>");
                    });
                    $('#opt_ccategory').show();
                }
            });

        });

        $('#btn_mallpdtsearch').button({ icons: { primary: "ui-icon-search" } }).click(function () {
            $('#mallpdtsearchform').submit();
        });

        $('#pdt_chk_select_all').change(function () {
            var checked = $(this).attr('checked');
            $('#mallProducts').find("input[id^='pdt_chk_select_']").each(function (index, item) {
                var that = this;
                var id = $(that).attr("id");
                if (id != "pdt_chk_select_all") {
                    if (checked == 'checked') {
                        $(that).attr('checked', true);
                    } else {
                        $(that).removeAttr('checked');
                    }
                }
            });
        });

        $('#btn_import_product').button({ icons: { primary: "ui-icon-extlink" } }).click(function () {
            var product_ids = "";
            $('#mallProducts').find("input[id^='pdt_chk_select_']").each(function (index, item) {
                var that = this;
                var id = $(that).attr("id");
                if (id != "pdt_chk_select_all") {
                    if ($(that).attr('checked') == 'checked') {
                        if (product_ids == "") {
                            product_ids = $(that).val();
                        } else {
                            product_ids +=","+ $(that).val();
                        }
                    }
                }
            });

            if (product_ids == "") {
                alert("请选择需要导入的宝贝");
                return;
            }
            var $progress = new ShowProgress("sync_trade_progress_bar", function () { }, "正在通过所选择的的宝贝创建进销存产品，请不要关闭浏览器，请耐心等待...");
            shopMgr.CreateProductsByMallProducts({'mall_products':product_ids,'map_product':0}, function (res) {
                Boxy.get($('#sync_trade_progress_bar')).hide();
                if (res.Status == 'ok') {
                    new MessageBox("同步完成，请到产品管理-产品信息查看新导入的产品", 1500);
                    location.reload();
                } else {
                    alert(res.Message);
                }
            });
        });
    });

    function Guanlian(mall_id, pOuterId,type,obj) {
        if (pOuterId <= 0 && type==1) {
            alert("请先关联宝贝，然后再关联SKU");
            return;
        }

        if (type == 1) {
            $('#opt_mapp_search').hide();
        } else {
            $('#opt_mapp_search').show();
        }

        $('#popup_guanlian').dialog({
            position: { my: "top", at: "top", of: $("#tabs") },
            width: 450,
            //height:550,
            resizable: false,
            title: "关联商城宝贝",
            modal: true,
            open: function () {
                if (type == 1) {
                    var $ul = $('#opt_products_list');
                    $ul.html("");
                    pdtMgr.GetProductFullInfo({ 'product_id': pOuterId }, function (res) {
                        if (res.Status == "ok" && res.Item != null) {
                            if (res.Item.Children == null) {
                                alert("产品:" + res.Item.Title + " 还没有任何销售属性（库存属性），请先编辑产品添加库存属性");
                                $(this).dialog("close");
                                return;
                            }

                            $(res.Item.Children).each(function (index, item) {
                                var $li = $("<li></li>").appendTo($ul);
                                var $radio = $("<input value=\"" + item.ID + "\" type=\"radio\" name=\"opt_productsel\"/>").appendTo($li);
                                $(item.Properties).each(function (index1, item1) {
                                    $("<span>"+item1.PName+":"+item1.PValue+"</span>").appendTo($li);
                                });
                            });

                        } else {
                            alert(res.Message);
                            $(this).dialog("close");
                        }
                    });
                }
            },
            close: function () {
                $('#opt_pcategory').val("0");
                $('#opt_ccategory').empty().hide();
                $('#opt_products_list').html("");
                
            },
            buttons: [
                   {
                       text: "确定", click: function () {
                           var that = this;                           
                           var product_id = $('input:radio[name="opt_productsel"]:checked').val();

                           if (product_id == null || product_id == "undefined") {
                               alert("请选择一个产品进行关联操作");
                               return;
                           }

                           if (type == 0) {
                               shopMgr.MapMallProduct({ 'mall_id': mall_id, 'product_id': product_id }, function (res) {
                                   if (res.Status == 'ok') {
                                       location.reload();
                                   } else {
                                       alert(res.Message);
                                   }
                               });

                           } else if (type == 1) {
                               shopMgr.MapMallProductSku({ 'sku_id': mall_id, 'product_id': product_id }, function (res) {
                                   if (res.Status == 'ok') {
                                       location.reload();
                                   } else {
                                       alert(res.Message);
                                   }
                               });
                           }

                           
                           //$(obj).html("已关联").removeClass("disconnected").addClass("connected");
                           //$(obj).removeAttr("onclick");
                           //$(obj).attr("href", "/Product/Detail/" + product_id);
                           //$(obj).attr("target","_blank");
                           //$(that).dialog("close");                           
                       },
                       icons: { primary: "ui-icon-disk" }
                   },
                   {
                       text: "取消", click: function () {
                           $(this).dialog("close");
                       },
                       icons: { primary: "ui-icon-close" }
                   }
            ]
        });

        $('#popup_guanlian').dialog("open");
    }

    function SearchProducts(page) {
        var pid = $('#opt_pcategory').val();
        var cid = $('#opt_ccategory').val();
        var pkey = $('#opt_keyword').val();
        var category = 0;

        category = pid;

        if (cid > 0) {
            category = cid;
        }

        pdtMgr.SearchProducts({ 'cid': category, 'keyword': pkey, 'pageSize': productListPageSize,'page':page}, function (res) {
            if (res != null) {
                var $ul = $('#opt_products_list');
                $ul.html("");
                $(res.data).each(function (index, item) {
                    var $li = $("<li></li>").appendTo($ul);
                    var $radio = $("<input value=\""+item.ID+"\" type=\"radio\" name=\"opt_productsel\"/>").appendTo($li);
                    $("<span>" + item.Title + "</span>").appendTo($li);
                });

                var htmlPage = pdtMgr.Pager({ 'total': res.totalRecords, 'page': res.curPage, 'pageSize': res.pageSize, 'fun': 'SearchProducts' }, "spn", "pn");
                if (htmlPage != '') {
                    $('#opt_products_list_Pager').html(htmlPage).show();
                } else {
                    $('#opt_products_list_Pager').html("").hide();
                }
            }
        });
    }
</script>

<div id="tabs">
    <ul>
        <li><a href="#mallpdtlist">出售中的宝贝</a></li>
    </ul>
    <div id="mallpdtlist">
        @*<h3>如果勾选为新宝贝创建本地产品，则商城的新宝贝会在本地进销存创建对应的新产品，SKU属性会自动创建</h3>*@
        <div id="syncMallPdt">
            <div class="rowS"><input type="checkbox" id="sync_chk_create_product" /><label style="width:auto;padding-left:3px;"> 新宝贝是否导入进销存产品库</label></div>
            <div class="rowS"> <span id="btnSync">同步</span>  @if (lastSync != null) { <span>@Html.Raw(" 上一次由 "+lastSync.User.Mall_Name+" 同步于:"+KM.JXC.Common.Util.DateTimeUtil.ConvertToDateTime(lastSync.SyncTime).ToString("yyyy-MM-dd H:m"))</span>}</div>
            
            <div class="rowS">
               
            </div>            
        </div>
        <div class="rowS" style="height:auto;" id="mallpdtsearch">
            <form id="mallpdtsearchform" action="/Shop/Product?page=1" method="get">
                <table class="searchTable">
                    <tr>
                        <td class="td1">宝贝名称:</td>
                        <td class="td1"><input class="W_input" type="text" id="txt_product_name" name="txt_product_name" /></td>
                    </tr>
                    @if(childshops!=null && childshops.Count>0){
                     <tr>
                        <td class="td1">宝贝店铺:</td>
                        <td class="td1"><select id="txt_product_shop" name="txt_product_shop" class="W_inputsel">
                                        <option value="0">--所有--</option>
                                        <option value="@CurrentShop.Shop_ID">@Html.Raw(CurrentShop.Name +" -主店铺")</option>
                                        @foreach (KM.JXC.BL.Models.BShop shop in childshops)
                                        {
                                            @Html.Raw("<option value=\""+shop.ID+"\">"+shop.Title+" -子店铺</option>")
                                        }
                                        </select></td>
                    </tr>
                    }
                    <tr>
                        <td class="td1"></td>
                        <td class="td1"><span id="btn_mallpdtsearch">搜索</span></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="mallProducts">
                <div class="row" style="height:auto;margin-top:15px;">
                     <span id="btn_import_product" title="根据需要选择在售宝贝导入到进销存产品库，慎用">导入</span>
                </div>
                <div class="row s_title shead jxcheader1" style="margin-top:0px;">
                    <span style="display:inline-block;margin:0;width:15px;margin-right:10px;"><input type="checkbox" id="pdt_chk_select_all" title="全选"/></span><span style="margin-left:0;" class="spanw3">缩略图</span><span class="spanw1">宝贝名称</span>
                    <span class="spanw4">店铺</span>
                    <span class="spanw2">宝贝价格</span>
                    <span class="spanw2">关联进销存</span>
                </div>
                <div class="row">
                    @{
                        string connected = "";
                        
                        if (paras.Keys.Contains("connected")){
                            connected = paras["connected"];
                        }
                     }
                    <a 
                        @if(connected==""){
                            @Html.Raw("class=\"tabasel1\"")
                        }else{
                             @Html.Raw("class=\"taba1\"")
                        }
                         href="/Shop/Product">所有宝贝</a>
                    <a  
                        @if(connected=="1"){
                            @Html.Raw("class=\"tabasel1\"")
                        }else{
                             @Html.Raw("class=\"taba1\"")
                        }
                         href="/Shop/Product?connected=1">已关联宝贝</a>
                    <a 
                        @if(connected=="0"){
                            @Html.Raw("class=\"tabasel1\"")
                        }else{
                             @Html.Raw("class=\"taba1\"")
                        }
                         href="/Shop/Product?connected=0">未关联宝贝</a>
                </div>
            @if (products != null) {
                foreach (KM.JXC.BL.Models.BMallProduct product in products) { 
                    <div class="row jxclist1">
                        <div>
                            <span style="display:inline-block;margin:0;width:15px;margin-right:10px;">@if((!product.HasProductCreated && product.OuterID==0)){<input value="@product.ID" type="checkbox" id="pdt_chk_select_@product.ID" />}</span><span style="margin-left:0;vertical-align:top;" class="spanw3"><img style="width:50px;height:50px;" src="@Html.Raw(product.PicUrl)" /></span><span class="spanw1">@Html.Raw(product.Title)</span>
                            <span class="spanw4">@product.Shop.Title</span>
                            <span class="spanw2">@Html.Raw(product.Price.ToString("0.00"))</span>
                            <span class="spanw2">
                                @if(product.OuterID>0){
                                    @Html.Raw("<a class=\"connected\" target=\"_blank\" href=\"/Product/Detail/"+product.OuterID+"\">已关联</a>")
                                }
                                else
                                {
                                    @Html.Raw("<a class=\"disconnected\" href=\"javascript:void(0)\" onclick=\"Guanlian("+product.ID+",0,0,this)\">未关联</a>")
                                }
                            </span>
                        </div>
                        @if(product.Skus!=null){
                         <div style="padding-left:75px;">
                             @foreach (KM.JXC.BL.Models.BMallSku sku in product.Skus){
                                <div>
                                     <span class="spanw1">
                                         @{
                                                if(!string.IsNullOrEmpty(sku.Properities)){
                                                    string[] pops = sku.Properities.Split(';');
                                                    foreach(string p in pops){
                                                        sku.PropertiesName=sku.PropertiesName.Replace(p+":", "");
                                                    }
                                                }
                                                 
                                          }
                                         @Html.Raw(sku.PropertiesName)
                                     </span>
                                     <span class="spanw4"></span>
                                     <span class="spanw2">@Html.Raw(sku.Price.ToString("0.00"))</span>
                                     <span class="spanw2">
                                        @if(sku.OuterID>0){
                                            @Html.Raw("<a class=\"connected\" target=\"_blank\" href=\"/Product/Detail/"+product.OuterID+"\">已关联</a>")
                                        }
                                        else
                                        {
                                            @Html.Raw("<a class=\"disconnected\" href=\"javascript:void(0)\" onclick=\"Guanlian("+sku.SkuID+","+product.OuterID+",1,this)\">未关联</a>")
                                        }
                                    </span>
                                </div>
                             }
                         </div>
                        }
                    </div>
                }
            }
        </div>
        @{
        string pageHtml = KM.JXC.Web.Utilities.JXCPageUtil.Pager(data);
        if (!string.IsNullOrEmpty(pageHtml))
        {
            <div class="s_title spage pager">
                 @Html.Raw(pageHtml)

            </div>
        }  
     }
    </div>

    <div id="popup_guanlian" style="display:none;">
        <div id="opt_mapp_search">
            <div class="rowS"><label>产品类目:</label><select class="W_inputsel" id="opt_pcategory"></select> <select class="W_inputsel" id="opt_ccategory" style="display:none;"></select></div>
            <div class="rowS"><label>产品名称:</label><input type="text" id="opt_keyword" class="W_input"/></div>
            <div class="rowS nolabel1"><span id="btn_search_map_product">搜索</span></div>
        </div>
        <ul class="ulchk" id="opt_products_list">

        </ul>
        <div class="s_title spage pager" id="opt_products_list_Pager" style="display:none;"></div>
    </div>
</div>


