@model KMBit.Beans.Permissions

@{
    ViewBag.Title = "AdminPermissions";
    KMBit.Beans.BUser user = (KMBit.Beans.BUser)ViewBag.User;
    Layout =Request.IsAjaxRequest()?null: "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>更新权限 - @user.User.Name (@user.User.Email)</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
            @Html.LabelFor(model => model.CREATE_USER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CREATE_USER)
                    @Html.ValidationMessageFor(model => model.CREATE_USER, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DELETE_USER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DELETE_USER)
                    @Html.ValidationMessageFor(model => model.DELETE_USER, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DISABLE_USER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DISABLE_USER)
                    @Html.ValidationMessageFor(model => model.DISABLE_USER, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ENABLE_USER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ENABLE_USER)
                    @Html.ValidationMessageFor(model => model.ENABLE_USER, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UPDATE_USER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UPDATE_USER)
                    @Html.ValidationMessageFor(model => model.UPDATE_USER, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UPDATE_USER_PERMISSION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UPDATE_USER_PERMISSION)
                    @Html.ValidationMessageFor(model => model.UPDATE_USER_PERMISSION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CREATE_RESOURCE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CREATE_RESOURCE)
                    @Html.ValidationMessageFor(model => model.CREATE_RESOURCE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UPDATE_RESOURCE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UPDATE_RESOURCE)
                    @Html.ValidationMessageFor(model => model.UPDATE_RESOURCE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DELETE_RESOURCE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DELETE_RESOURCE)
                    @Html.ValidationMessageFor(model => model.DELETE_RESOURCE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CREATE_RESOURCE_TAOCAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CREATE_RESOURCE_TAOCAN)
                    @Html.ValidationMessageFor(model => model.CREATE_RESOURCE_TAOCAN, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UPDATE_RESOURCE_TAOCAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UPDATE_RESOURCE_TAOCAN)
                    @Html.ValidationMessageFor(model => model.UPDATE_RESOURCE_TAOCAN, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DELETE_RESOURCE_TAOCAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DELETE_RESOURCE_TAOCAN)
                    @Html.ValidationMessageFor(model => model.DELETE_RESOURCE_TAOCAN, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CREATE_USER_ROUTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CREATE_USER_ROUTE)
                    @Html.ValidationMessageFor(model => model.CREATE_USER_ROUTE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DELETE_USER_ROUTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DELETE_USER_ROUTE)
                    @Html.ValidationMessageFor(model => model.DELETE_USER_ROUTE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UPDATE_USER_ROUTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UPDATE_USER_ROUTE)
                    @Html.ValidationMessageFor(model => model.UPDATE_USER_ROUTE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UPDATE_USER_FEE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.UPDATE_USER_FEE)
                    @Html.ValidationMessageFor(model => model.UPDATE_USER_FEE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}
