@model KMBit.Models.ResourceTaocanModel
@{
    KMBit.Beans.BResource resource = (KMBit.Beans.BResource)ViewBag.Resource;
    ViewBag.Title = "创建资源套餐(" + resource.Resource.Name + ")";
    if (Model.Id > 0) {
        ViewBag.Title = "更新资源套餐(" + resource.Resource.Name + ")";
    }
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Admin.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    var BASE_URL = '@Url.Content("~/")';

    $(function () {
        $('#Province').change(function () {
            var parentId = $('#Province').val();
            $.post(
                BASE_URL+'api/General/GetAreas',
                {parentId:parentId},
                function (res, status) {
                    $('#City').empty();
                    $('#City').append("<option value=\"\">--选择城市--</option>");
                    $(res.Item).each(function (index, item) {
                        $('#City').append("<option value=\"" + item.Id + "\">" + item.Name + "</option>");
                    });
                }
            );
        });

        $('#btn_save_taocan').click(function () {
            var pPrice = $('#PurchasePrice').val();
            var sPrice = $('#SalePrice').val();
            if (isNaN(pPrice) || isNaN(sPrice)) {
                $('#CreateResourceTaocanForm').submit();
            }
            
            if (parseFloat(pPrice) > sPrice) {
                alert("售价必须大于或等于成本价");
                return;
            }

            $('#CreateResourceTaocanForm').submit();
        });
    })
</script>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateResourceTaocan", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "CreateResourceTaocanForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.Serial)
    @Html.HiddenFor(model => model.EnabledDiscount)
    <div class="form-horizontal">       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.ResoucedId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResoucedId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ResoucedId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SP, (SelectList)ViewBag.SPs, "--全网充--", new {@class = "form-control" } )
                @Html.ValidationMessageFor(model => model.SP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Province, (SelectList)ViewBag.Provinces, "--选择省份--", new {@class = "form-control" })
                @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.City, (SelectList)ViewBag.Cities, "--选择城市--", new {@class = "form-control" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.SalePrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchasePrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Enabled, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Enabled)
                    @Html.ValidationMessageFor(model => model.Enabled, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btn_save_taocan" type="button" value="保存" class="btn btn-default btn-primary" />
</div>
        </div>
    </div>
}
