@model KMBit.Models.CreateAgentRouteModel
@using KMBit.Extensions;
@{

    KMBit.Beans.BUser agency = null;
    if (ViewBag.Agency != null)
    {
        agency = (KMBit.Beans.BUser)ViewBag.Agency;
    }

    ViewBag.Title = "创建代理商路由";
    if(agency!=null)
    {
        ViewBag.Title += "(" + agency.User.Name + ")";
    }
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Admin.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    var BASE_URL = '@Url.Content("~/")';
    var agencyId=@agency.User.Id;
    $(function () {
        $('#ResourceId').change(function () {
            var resourceId = $('#ResourceId').val();
            if ($.trim(resourceId) == '') {
                $('#resourcetaocancontainer').html("");
                return;
            }
            $.post(
                BASE_URL + 'api/Resource/GetEnabledResourceTaocansForAgent',
                { resourceId: resourceId,agencyId:agencyId },
                function (res, status) {
                    $('#resourcetaocancontainer').html("");
                    //$('#ResouceTaocans').append("<option value=\"\">--选择城市--</option>");
                    var ul = $('<ul style="padding-left:0px;"></ul>');
                  
                    if (res.Item.length > 0) {
                        var li = $("<li style=\"overflow:hidden;display:block;\"></li>").appendTo(ul);
                        var chkDiv = $("<div style=\"float:left;width:5%;\"></div>").appendTo(li);
                        $('<input type="checkbox" id="chkAllResouceTaocans" name="chkAllResouceTaocans" value=""/>').appendTo(chkDiv);
                        $("<div style=\"float:left;width:20%;\"></div>").appendTo(li).html("套餐名称");
                        $("<div style=\"float:left;width:10%;\"></div>").appendTo(li).html("运营商");
                        $("<div style=\"float:left;width:10%;\"></div>").appendTo(li).html("归属地");
                        $("<div style=\"float:left;width:10%;\"></div>").appendTo(li).html("流量");
                        $("<div style=\"float:left;width:10%;\"></div>").appendTo(li).html("价格");
                    }else{
                        alert("当前资源没有可用的套餐给当前的代理商");
                        return;
                    }

                    $(res.Item).each(function (index, item) {
                        var li = $("<li style=\"overflow:hidden;display:block;\"></li>").appendTo(ul);
                        var chkDiv = $("<div style=\"float:left;width:5%;\"></div>").appendTo(li);
                        $('<input type="checkbox" id="ResouceTaocans" name="ResouceTaocans" value="' + item.Taocan.Id + '"/>').appendTo(chkDiv);
                        $("<div style=\"float:left;width:20%;\"></div>").appendTo(li).html(item.Taocan2.Name);
                        $("<div style=\"float:left;width:10%;\"></div>").appendTo(li).html(item.SP!=null?item.SP.Name:"全网");
                        $("<div style=\"float:left;width:10%;\"></div>").appendTo(li).html(item.Province!=null?item.Province.Name:"全国");
                        $("<div style=\"float:left;width:10%;\"></div>").appendTo(li).html(item.Taocan.Quantity+"M");
                        $("<div style=\"float:left;width:10%;\"></div>").appendTo(li).html(item.Taocan.Sale_price+"元");
                    });

                    $(ul).appendTo($('#resourcetaocancontainer'));
                    $('#resourcetaocancontainer').find('#chkAllResouceTaocans').click(function(){
                        if($('#resourcetaocancontainer').find('#chkAllResouceTaocans').is(':checked')){
                            $('#resourcetaocancontainer').find('input[type="checkbox"]').each(function(i,chk){
                                if($(chk).attr('id')!='chkAllResouceTaocans'){                                   
                                    $(chk).attr('checked',true);
                                }
                            });

                        }else{
                            $('#resourcetaocancontainer').find('input[type="checkbox"]').each(function(i,chk){
                                if($(chk).attr('id')!='chkAllResouceTaocans'){
                                    $(chk).attr('checked',false);
                                }
                            });
                        }
                    });
                }
            );
        });
    })
</script>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateAgentRoute", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "UpdateResourceForm" }))
{
    @Html.AntiForgeryToken()    
    <div class="form-horizontal">       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.AgencyId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgencyId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AgencyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResourceId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ResourceId, (SelectList)ViewBag.Resources, "--选择资源--", new {  @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResourceId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResouceTaocans, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="resourcetaocancontainer">
                    @Html.CheckBoxListTaocanFor(model => model.ResouceTaocans, (List<KMBit.Beans.BResourceTaocan>)ViewBag.ResourceTaocans1, new { htmlAttributes = new { @class = "form-control" } })
                </div>                
                @Html.ValidationMessageFor(model => model.ResouceTaocans, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
            </div>
        </div>       

        <div class="form-group">
            @Html.LabelFor(model => model.Enabled, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Enabled)
                    @Html.ValidationMessageFor(model => model.Enabled, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default btn-primary" />
            </div>
        </div>
    </div>
}