@model KMBit.Models.CreateAgentRouteModel

@{
    KMBit.Beans.BAgentRoute ruote = null;
    KMBit.Beans.BUser agency = null;
    if (ViewBag.Ruote != null) {
        ruote = (KMBit.Beans.BAgentRoute)ViewBag.Ruote;
    }
    if (ViewBag.Agency != null)
    {
        agency = (KMBit.Beans.BUser)ViewBag.Agency;
    }
    ViewBag.Title = "编辑路由";
    Layout =Request.IsAjaxRequest()?null: "~/Views/Shared/_Layout_Admin.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("EditAgentRoute", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "EditAgentRouteForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal"> 
        <hr />
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AgencyId)
        @Html.HiddenFor(model => model.ResourceId)
        
        @Html.Hidden("ResouceTaocans",string.Join(",",Model.ResouceTaocans))

        @*<div class="form-group">
            <label class="control-label col-md-2" for="Email">代理商</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(agency.User.Name!=null?agency.User.Name:agency.User.Email)" type="email">

            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2" for="Email">落地资源</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Taocan.Resource.Resource.Name)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Email">运营商</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Taocan.SP!=null?ruote.Taocan.SP.Name:"全网")" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Email">归属地</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Taocan.Province!=null?ruote.Taocan.Province.Name:"全国")" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Email">流量</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Taocan.Taocan.Quantity+"M")" /> 
                 
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Email">成本价</label>
            <div class="col-md-10">
                <input id="Purchase_price" class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw((ruote.Taocan.Taocan.Purchase_price*ruote.Taocan.Taocan.Resource_Discount).ToString("0.00")+"元")" />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Email">零售价</label>
            <div class="col-md-10">
                <input id="Sale_price" class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Taocan.Taocan.Sale_price+"元")" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Email">代理价</label>
            <div class="col-md-10">
                <input id="agent_price" class="form-control text-box single-line valid" data-val="true" readonly="readonly" value="@Html.Raw(ruote.Taocan.Taocan.Sale_price*ruote.Route.Discount+"元")" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Enabled, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Enabled)
                    @Html.ValidationMessageFor(model => model.Enabled, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @if (ViewBag.ErrMsg != null)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <p style="color:red;">@Html.Raw(ViewBag.ErrMsg)</p>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit_ruote" type="button" value="保存" class="btn btn-default btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    $(function () {

        $('#EditAgentRouteForm').find('#Discount').blur(function () {
            var discount = $('#EditAgentRouteForm').find('#Discount').val();
            var salePrice = $('#EditAgentRouteForm').find('#Sale_price').val();
            if (isNaN(discount)) {
                alert("折扣必须是数字，并且在0-1之间");
                return;
            }

            var discountN = parseFloat(discount);
            $('#EditAgentRouteForm').find('#agent_price').val(discountN * parseFloat(salePrice))
        });
        $('#EditAgentRouteForm').find('#submit_ruote').click(function () {
            var price1 = $('#EditAgentRouteForm').find('#Purchase_price').val();
            var discount = $('#EditAgentRouteForm').find('#Discount').val();
            var salePrice = $('#EditAgentRouteForm').find('#Sale_price').val();
            
            if ($.trim(discount) == "") {
                $('#EditAgentRouteForm').submit();
                return;
            } else {
                if (isNaN(discount)) {                   
                    $('#EditAgentRouteForm').submit();
                    return;
                }
                
                var discountN = parseFloat(discount);
                if (discountN < 0 || discountN > 1) {
                    $('#EditAgentRouteForm').submit();
                    return;
                }               
                if (discountN * parseFloat(salePrice) < parseFloat(price1)) {
                    
                    if (confirm("此折扣会导致代理商价格比平台的成本价还要低，会导致平台亏损，是否继续执行?")) {
                        $('#EditAgentRouteForm').submit();
                    } else {
                        return;
                    }
                }
                $('#EditAgentRouteForm').submit();
            }
        });
    })
</script>
