@using KMBit.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(function () {
        $('#btn_Login').click(function () {
            var userName = $('#Email').val();
            var password = $('#Password').val();
            var salt = $('#Salt').val();
            if ($.trim(userName) == '' || $.trim(password) == '') {
                $('#LoginForm').submit();
            }            
            var str = salt + password;                    
            var key = CryptoJS.enc.Utf8.parse('8080808080808080');
            var iv = CryptoJS.enc.Utf8.parse('8080808080808080');            
            var encryptedEmail = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(userName), key, { keySize: 128 / 8, iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 });
            var encryptedPassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(str), key, { keySize: 128 / 8, iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 });           
            $('#EncryptedEmail').val(encryptedEmail);
            $('#EncryptedPassword').val(encryptedPassword);
            $('#Email').val('kuanmaibit@kxcall.com');
            $('#Password').val('kuanmaibit')
            $('#Salt').val("");
            $('#LoginForm').submit();
        });
    });
</script>
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form",@id="LoginForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model=>model.Salt)
                @Html.HiddenFor(model => model.EncryptedEmail)
                @Html.HiddenFor(model => model.EncryptedPassword)
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="btn_Login" name="btn_Login" type="button" value="登录" class="btn btn-default" />
                    </div>
                </div>
                <!--
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                -->
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <!--
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
        -->
</div>