@{
    ViewBag.Title = "验货单详细信息";
    Layout = "~/Views/Shared/master_default.cshtml";
    KM.JXC.BL.Models.BBuy buy = (KM.JXC.BL.Models.BBuy)Model;
}

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
    <ul>
        <li><a href="#BuyDetailInfo">验货单信息</a></li>
    </ul>
    <div id="BuyDetailInfo">
        <h3>验货单信息</h3>
        <div class="normallist b1 f1">
    <table class="infolist">
        <tr>
            <td>验货单编号:
            </td>
            <td>
                @buy.ID
            </td>
            <td>验货员:
            </td>
            <td>
                @buy.User.Name
            </td>
        </tr>
        <tr>
            <td>到货日期:
            </td>
            <td>
                @if (buy.ComeDate > 0)
                {
                    @KM.JXC.Common.Util.DateTimeUtil.ConvertToDateTime(buy.ComeDate).ToString("yyyy-MM-dd")
                }
            </td>
            <td>录入日期:
            </td>
            <td>
                @KM.JXC.Common.Util.DateTimeUtil.ConvertToDateTime(buy.Created).ToString("yyyy-MM-dd HH:mm")
            </td>
        </tr>
        <tr>
            <td>备注:
            </td>
            <td>
                @buy.Description
            </td>
            <td>状态:
            </td>
            <td style="color: red; font-weight: bold;">

                @{
                    if (buy.Status == 1)
                    {
                    @Html.Raw("已经入库")
                    }
                    else
                    {
                    @Html.Raw("暂未入库") 
                    }
                }
            </td>
        </tr>
    </table>
    @{
        if (buy.Details != null)
        {
        @Html.Raw("<table class=\"infolist s1 t1\" id=\"order_products\">")
        @Html.Raw("<tr class=\"header\">")
        @Html.Raw("<td>产品编号")
        @Html.Raw("</td>")
        @Html.Raw("<td>产品名称")
        @Html.Raw("</td>")
        @Html.Raw("<td>属性")
        @Html.Raw("</td>")
        @Html.Raw("<td>单价")
        @Html.Raw("</td>")
        @Html.Raw("<td>数量")
        @Html.Raw("</td>")
        @Html.Raw("</tr>")
            foreach (KM.JXC.BL.Models.BBuyDetail oDetail in buy.Details)
            {
                @Html.Raw("<tr>")
                @Html.Raw("<td>")
                @Html.Raw("<a href=\"/Product/Detail/"+oDetail.Parent_Product_ID+"\">"+oDetail.Parent_Product_ID+"</a>")
                @Html.Raw("</td>")
                @Html.Raw("<td>")
                @Html.Raw(oDetail.Product.Title)
                @Html.Raw("</td>")
                string propNames = "";
                if (oDetail.Product.ID != oDetail.Parent_Product_ID)
                {
                    string names = "";
                    foreach (var prop in oDetail.Product.Properties)
                    {
                        if (names == "")
                        {
                            names = prop.PName + ":" + prop.PValue;
                        }
                        else
                        {
                            names += "," + prop.PName + ":" + prop.PValue;
                        }
                    }

                    propNames = names;
                }
                @Html.Raw("<td>")
                @Html.Raw(propNames)
                @Html.Raw("</td>")
                @Html.Raw("<td>")
                @Html.Raw(oDetail.Price)
                @Html.Raw("</td>")
                @Html.Raw("<td>")
                @Html.Raw(oDetail.Quantity)
                @Html.Raw("</td>")
                @Html.Raw("</tr>")
            }
        @Html.Raw("</table>")
        }
    }
</div>
         <h3>采购单信息</h3>
        <div class="normallist b1 f1">
        <table class="infolist">
        <tr>
            <td>采购单编号:</td>
            <td>@buy.Order.ID</td>
            <td>采购员:</td>
            <td>@buy.Order.OrderUser.Name</td>
            <td>供应商:</td>
            <td>@buy.Order.Supplier.Name</td>

        </tr>
        <tr>
            <td>签订日期:</td>
            <td>@if (buy.Order.WriteTime > 0)
                {@KM.JXC.Common.Util.DateTimeUtil.ConvertToDateTime(buy.Order.WriteTime).ToString("yyyy-MM-dd")}</td>
            <td>生效日期:</td>
            <td>@if (buy.Order.InsureTime > 0)
                {@KM.JXC.Common.Util.DateTimeUtil.ConvertToDateTime(buy.Order.InsureTime).ToString("yyyy-MM-dd")}</td>
            <td>结束日期:</td>
            <td>@if (buy.Order.EndTime > 0)
                {@KM.JXC.Common.Util.DateTimeUtil.ConvertToDateTime(buy.Order.EndTime).ToString("yyyy-MM-dd")}</td>
        </tr>
        <tr>
            <td>录入员:</td>
            <td>@buy.Order.Created_By.Name</td>
            <td>录入日期:</td>
            <td>@KM.JXC.Common.Util.DateTimeUtil.ConvertToDateTime(buy.Order.Created).ToString("yyyy-MM-dd HH:mm")</td>
            <td>状态:
            </td>
            <td style="color: red; font-weight: bold;">

                @{
                    if (buy.Order.Status == 1)
                    {
                    @Html.Raw("已经验货")
                    }
                    else
                    {
                    @Html.Raw("暂未验货") 
                    }
                }
            </td>
        </tr>
        <tr>
            <td>备注:</td>
            <td colspan="5">@buy.Order.Description</td>

        </tr>
    </table>
        @{
            if (buy.Order.Details != null)
            {
                @Html.Raw("<table class=\"infolist s1 t1\" id=\"order_products\">")
                @Html.Raw("<tr class=\"header\">")
                @Html.Raw("<td>产品编号")
                @Html.Raw("</td>")
                @Html.Raw("<td>产品名称")
                @Html.Raw("</td>")
                @Html.Raw("<td>属性")
                @Html.Raw("</td>")
                @Html.Raw("<td>单价")
                @Html.Raw("</td>")
                @Html.Raw("<td>数量")
                @Html.Raw("</td>")
                @Html.Raw("</tr>")
                foreach (KM.JXC.BL.Models.BBuyOrderDetail oDetail in buy.Order.Details)
                {
                    @Html.Raw("<tr>")
                    @Html.Raw("<td>")
                    @Html.Raw("<a href=\"/Product/Detail/"+oDetail.Parent_Product_ID+"\">"+oDetail.Parent_Product_ID+"</a>")
                    @Html.Raw("</td>")
                    @Html.Raw("<td>")
                    @Html.Raw(oDetail.Product.Title)
                    @Html.Raw("</td>")
                    string propNames = "";
                    if (oDetail.Product.ID != oDetail.Parent_Product_ID)
                    {
                        string names = "";
                        foreach (var prop in oDetail.Product.Properties)
                        {
                            if (names == "")
                            {
                                names = prop.PName + ":" + prop.PValue;
                            }
                            else
                            {
                                names += "," + prop.PName + ":" + prop.PValue;
                            }
                        }

                        propNames = names;
                    }
                    @Html.Raw("<td>")
                    @Html.Raw(propNames)
                    @Html.Raw("</td>")
                    @Html.Raw("<td>")
                    @Html.Raw(oDetail.Price)
                    @Html.Raw("</td>")
                    @Html.Raw("<td>")
                    @Html.Raw(oDetail.Quantity)
                    @Html.Raw("</td>")
                    @Html.Raw("</tr>")
                }
            @Html.Raw("</table>")
            }
        }
</div>
    </div>
</div>
