<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Third/pqgrid/pqgrid.min.css" rel="stylesheet">
    <link href="/Third/jqueryui/css/smoothness/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="/Third/pqgrid/pqgrid.min.js" type="text/javascript"></script>
    <script src="/Third/jqueryui/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
</head>
<body style="background-image:url(/Content/images/login_bk.jpg)">  
   <div style="margin: 0 auto;width:100%;text-align: center;padding-top:10px;padding-bottom:10px;margin-top:200px;">
        @RenderBody()
    </div>
    <div class="jxcfoot">
            <a class="item" href="/Corp/About">关于我们</a>  <a class="item" href="/Corp/Contact">联系我们</a>  <a class="item" href="/Corp/Help">使用帮助</a> <a class="item" href="/Corp/Bug">缺陷报告</a> @*<a class="item" href="/Corp/Blog">Blog</a>*@
    </div>
</body>
</html>
