<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>    
    <link href="/Third/jqueryui/css/flick/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <link href="/Third/pqgrid/pqgrid.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")   
    @Scripts.Render("~/bundles/kmjxc")
    @Scripts.Render("~/Third/pqgrid")
    @Scripts.Render("~/Third/kindeditor")
     <script src="/Third/jqueryui/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="/Third/pqgrid/pqgrid.dev.js" type="text/javascript"></script>
     <script src="/Third/pqgrid/pqGridCurd.js" type="text/javascript"></script>
</head>

<body>  
   @{
       string controller = ViewContext.RouteData.Values["controller"].ToString();
       string action = ViewContext.RouteData.Values["action"].ToString();
       string modelStyle = "";
       string menuStyle = "class=link";
    }
   <div class="jxcMain">TOP</div>
   <div class="jxcMain">       
       <div class="jxcLeftMenu">
           <div class="menuItem" style="margin-top:0px;"><a href="javascript:void(0)" onclick="manager.LeftMenuClick(this,'buy','MenuContainer')">采购管理</a></div>
           
           <div class="menuContainer" id="buyMenuContainer"
               @if (controller != "Buy") {
                   modelStyle = "style=display:none;";
                   @modelStyle
               }               
               >                    
               <ul>
                   <li><a href="/Buy/NewOrder" 
                       @if (action == "NewOrder")
                       {
                           menuStyle = "class=links";                          
                       } 
                       
                       @menuStyle   
                       
                       >新建采购订单 </a></li>
                   <li><a class="link" href="/Buy/OrderSearch">采购订单查询</a></li>
                   <li><a class="link" href="/Buy/NewBuy">新建验货单</a></li>
                   <li><a class="link" href="/Buy/BuySearch">验货单查询</a></li>
                   <li><a class="link" href="/Buy/Supplier">供应商管理</a></li>                
               </ul>
           </div>

           <div class="menuItem"><a href="javascript:void(0)" onclick="manager.LeftMenuClick(this,'sale','MenuContainer')">销售管理</a></div>
           <div class="menuContainer" id="saleMenuContainer" style="display:none;">
               <ul>
                   <li>销售单查询</li>                   
                   <li>退货单查询</li>    
                   <li>换货单查询</li>   
                   <li>客户管理</li>                            
               </ul>
           </div>

           <div class="menuItem"><a href="javascript:void(0)" onclick="manager.LeftMenuClick(this,'stock','MenuContainer')">库存管理</a></div>
           <div class="menuContainer" id="stockMenuContainer" style="display:none;">
               <ul>
                   <li>库存查询</li> 
                   <li>采购入库</li>                   
                   <li>销售出库</li>    
                   <li>销售退库</li>   
                   <li>损耗</li>   
                   <li>仓库管理</li>                         
               </ul>
           </div>

           <div class="menuItem"><a href="javascript:void(0)" onclick="manager.LeftMenuClick(this,'product','MenuContainer')">产品管理</a></div>
           <div class="menuContainer" id="productMenuContainer" 
               @if (controller != "Product") {
                   modelStyle = "style=display:none;";
                   @modelStyle
               }     
               >
               <ul>
                   <li><a href="/Product/Search"
                       @{menuStyle = "class=link"; }
                       @if (action == "Search")
                       {
                           menuStyle = "class=links";                          
                       } 
                       
                       @menuStyle   
                       >产品查询</a></li> 
                   <li><a href="/Product/New"
                       @{menuStyle = "class=link"; }
                       @if (action == "New")
                       {
                           menuStyle = "class=links";                          
                       } 
                       
                       @menuStyle
                       >添加产品</a></li>                   
                   <li><a href="/Product/Categories"
                       @{menuStyle = "class=link"; }
                       @if (action == "Categories")
                       {
                           menuStyle = "class=links";                          
                       } 
                       
                       @menuStyle
                       >产品类目</a></li>    
                  @* <li><a href="/Product/NewCategory"
                       @{menuStyle = "class=link"; }
                       @if (action == "NewCategory")
                       {
                           menuStyle = "class=links";                          
                       } 
                       
                       @menuStyle
                       >添加类目</a></li>  *@
                   <li><a href="/Product/Properties"
                       @{menuStyle = "class=link"; }
                       @if (action == "Properties")
                       {
                           menuStyle = "class=links";                          
                       } 
                       
                       @menuStyle
                       >产品属性</a></li> 
                   @* <li><a href="/Product/NewProperty"
                       @{menuStyle = "class=link"; }
                       @if (action == "NewProperty")
                       {
                           menuStyle = "class=links";                          
                       } 
                       
                       @menuStyle
                       >添加属性</a></li>   *@
               </ul>
           </div>

           <div class="menuItem"><a href="javascript:void(0)" onclick="manager.LeftMenuClick(this,'permission','MenuContainer')">权限管理</a></div>
           <div class="menuContainer" id="permissionMenuContainer" style="display:none;">
               <ul>
                   <li>查看权限</li> 
                   <li>分组管理</li>
                   <li>用户权限</li>
               </ul>
           </div>
           
           <div class="menuItem"><a href="javascript:void(0)" onclick="manager.LeftMenuClick(this,'system','MenuContainer')">系统设置</a></div>
           <div class="menuContainer" id="systemMenuContainer" style="display:none;">
               <ul>
                   <li>默认仓库</li> 
                   <li>快递设置</li>                   
               </ul>
           </div>

       </div>
       <div class="jxcRight">
        @RenderBody()
       </div>
        
    </div>
    <div class="jxcfoot">
            <a class="item" href="#">关于我们</a>  <a class="item" href="#">联系我们</a>  <a class="item" href="#">使用帮助</a> <a class="item" href="#">缺陷报告</a> <a class="item" href="#">Blog</a>
    </div>
</body>
</html>
