@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
    string modelStyle = "";
    KM.JXC.DBA.Shop CurrentShop = null;
    if (ViewData["CurrentShop"]!=null)
    {
        CurrentShop=(KM.JXC.DBA.Shop)ViewData["CurrentShop"];
    }
    KM.JXC.DBA.Shop MainShop = null;
    if (ViewData["MainShop"]!=null)
    {
        MainShop=(KM.JXC.DBA.Shop)ViewData["MainShop"];
    }
    KM.JXC.BL.Models.BUser CurrentUser = null;
    if (ViewData["CurrentUser"]!=null)
    {
        CurrentUser=(KM.JXC.BL.Models.BUser)ViewData["CurrentUser"];
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>    
    <link href="/Third/jqueryui/css/smoothness/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <link href="/Third/pqgrid/pqgrid.dev.css" rel="stylesheet">
    <link href="/Third/pqgrid/themes/Office/pqgrid.css" rel="stylesheet">
    <link href="/Third/uploadify/uploadify.css" rel="stylesheet">
    <link href="/Third/boxy/boxy.css" rel="stylesheet">
    @Styles.Render("~/Content/css")   
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")   
    @Scripts.Render("~/bundles/kmjxc")
    @Scripts.Render("~/Third/pqgrid")
    @Scripts.Render("~/Third/kindeditor")

    <script src="/Third/jqueryui/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $(".jxcLeftMenu").accordion();
        });
    </script>
   
</head>
<body>
   <div class="jxcMain">
       @if(CurrentUser!=null)
       {
           @Html.Raw("当前登录用户:"+CurrentUser.Mall_Name+"<br/>")
       }

       @if(MainShop!=null)
       {
           @Html.Raw("当前用户所在主店铺:"+MainShop.Name)
       }
   </div>
   <div class="jxcMain">       
       <div class="jxcLeftMenu">

            <h3 class="menu_wd1">帮助中心</h3>
           
           <div id="buyMenuContainer"
               @if (controller != "Corp")
               {
                   modelStyle = "style=display:none;";
                   @modelStyle
               }               
               >                    
               <ul>
                   <li><a href="/Corp/About" 
                       @if (action == "About")
                       {                           
                           @Html.Raw("class=links");
                       }
                       else
                       {
                           @Html.Raw("class=link");
                       }                        
                       
                       >关于我们 </a></li>
                 
                   <li><a href="/Corp/Contact"
                       
                       @if (action == "Contact")
                       {
                           @Html.Raw("class=links");
                       }
                       else
                       {
                           @Html.Raw("class=link");
                       }                         
                       
                       >联系我们</a></li>
                   <li><a href="/Corp/Help"
                       @if (action == "Help")
                       {
                           @Html.Raw("class=links");
                       }
                       else
                       {
                           @Html.Raw("class=link");
                       }  
                       >使用帮助</a></li>   
                    <li><a href="/Corp/Bug"
                       @if (action == "Bug")
                       {
                           @Html.Raw("class=links");
                       }
                       else
                       {
                           @Html.Raw("class=link");
                       }  
                       >缺陷报告</a></li>  
                   @* <li><a href="/Corp/Blog"
                       @if (action == "Blog")
                       {
                           @Html.Raw("class=links");
                       }
                       else
                       {
                           @Html.Raw("class=link");
                       }  
                       >Blog</a></li>      *@         
               </ul>
           </div>

       </div>
       <div class="jxcRight">
        @RenderBody()
       </div>       
    </div>
    <div class="jxcfoot">
            <a class="item" href="/Corp/About">关于我们</a>  <a class="item" href="/Corp/Contact">联系我们</a>  <a class="item" href="/Corp/Help">使用帮助</a> <a class="item" href="/Corp/Bug">缺陷报告</a> @*<a class="item" href="/Corp/Blog">Blog</a>*@
    </div>
</body>
</html>
