@{
    ViewBag.Title = "订单查询";
    KM.JXC.BL.Models.BPageData data = Model as KM.JXC.BL.Models.BPageData;
    List<KM.JXC.BL.Models.BSale> sales = data.Data as List<KM.JXC.BL.Models.BSale>;
    long total = data.TotalRecords;
    int currentPage = data.Page;
    int pageSize = data.PageSize;
}

<script>

    var cateMgr = new KMJXCProductManager();
    var buyMgr = new KMJXCBuyManager();
    var stockMgr = new KMJXCStockManager();
    var saleMgr = new KMJXCSaleManager();
    var $grid = null; 
    var $form = null;
    var $searchform = null;
    $(function () {
        $form = $('#searchform');

        $form.find('#trade_sdate').datepicker({
            currentText: "Now",
            dateFormat: "yy-mm-dd",
            showMonthAfterYear: true,
            changeMonth: true,
            changeYear: true,
            buttonImageOnly: true,
        });

        $form.find('#trade_edate').datepicker({
            currentText: "Now",
            dateFormat: "yy-mm-dd",
            showMonthAfterYear: true,
            changeMonth: true,
            changeYear: true,
            buttonImageOnly: true,
        });
        saleMgr.InitializeHour($form.find('#trade_sdate_hour'), 0);        
        saleMgr.InitializeHour($form.find('#trade_edate_hour'), 0);
        saleMgr.InitializeMinute($form.find('#trade_sdate_minute'), 0);
        saleMgr.InitializeMinute($form.find('#trade_edate_minute'), 0);

        $form.find('#btn_Search').button().click(function (e) {
            $form.attr('action', "/Sale/Search?page=1");
            $form.submit();

        });
    });

</script>

<div class="normallist">
    <div>
        <form id="searchform" action="/Sale/Search?page=1" method="get">
            <table class="searchTable">
                <tr>
                   
                    <td class="td1">成交时间:</td>
                    <td colspan="3">
                        <input class="W_input" name="trade_sdate" id="trade_sdate" /> <select class="W_inputsel" name="trade_sdate_hour" id="trade_sdate_hour"></select> <select class="W_inputsel" name="trade_sdate_minute" id="trade_sdate_minute"></select> 
                        到 
                        <input class="W_input" name="trade_edate" id="trade_edate" /> <select class="W_inputsel" name="trade_edate_hour" id="trade_edate_hour"></select> <select class="W_inputsel" name="trade_edate_minute" id="trade_edate_minute"></select>    
                    </td>
                </tr>
                 <tr>
                    <td class="td1">产品名称:</td>
                    <td><input type="text" name="pdt_name" class="W_input" id="pdt_name"/></td>
                    <td class="td1">卖家昵称:</td>
                    <td><input type="text" name="buyer_nick" class="W_input" id="buyer_nick"/></td>
                  
                </tr>
                <tr>
                    <td colspan="4">
                        <span id="btn_Search">搜索</span>                       
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="saleTable" style="margin-top:20px;">
        <div class="s_title shead">
            <span style="width:320px; text-align:center;display:inline-block;font-weight:bold;">产品</span>
            <span style="width:120px; text-align:center;display:inline-block;font-weight:bold;">单价</span>
            <span style="width:120px; text-align:center;display:inline-block;font-weight:bold;">数量</span>
            <span style="width:120px; text-align:center;display:inline-block;font-weight:bold;">买家</span>
            <span  style="width:100px; text-align:center;display:inline-block;font-weight:bold;">实付款</span>
        </div>
        @if (total > 0)
        {
            foreach (KM.JXC.BL.Models.BSale sale in sales)
            { 
                @Html.Raw("<div class=\"s_item\">")
                    @Html.Raw("<div class=\"s_title\">")
                        @Html.Raw("<span class=\"s_num\">交易编号：")
                            @Html.Raw(sale.Sale_ID)
                        @Html.Raw("</span>")
                        @Html.Raw("<span class=\"s_time\">交易时间：")
                            @Html.Raw(KM.JXC.Common.Util.DateTimeUtil.ConvertToDateTime(sale.SaleDateTime).ToString("yyyy-MM-dd HH:mm"))
                        @Html.Raw("</span>")
                        @Html.Raw("<span class=\"s_time\">同步时间：")
                            @Html.Raw(KM.JXC.Common.Util.DateTimeUtil.ConvertToDateTime(sale.Synced).ToString("yyyy-MM-dd HH:mm"))
                        @Html.Raw("</span>")
                       
                    @Html.Raw("</div>")
                    @Html.Raw("<div class=\"s_body\">")
                int count = 0;
                foreach (KM.JXC.BL.Models.BOrder order in sale.Orders)
                {
                    count++;
                    //render trade orders
                    //if (order.Product != null)
                    //{
                    if (count == sale.Orders.Count)
                    {
                                        @Html.Raw("<div class=\"s_ol\">")
                    }
                    else
                    { 
                                        @Html.Raw("<div class=\"s_o\">")
                    }
                                @Html.Raw("<div class=\"normalDiv\">")
                                    @Html.Raw("<div class=\"normalDiv\"><img src=\"" + order.ImageUrl + "\" style=\"width:50px;height:50px;\"/></div>")
                                    @Html.Raw("<div class=\"s_o_col colw1\">")
                    if (order.Product != null)
                    {
                                    @Html.Raw("<div><a target=\"_blank\" href=\"/Product/Detail/" + order.Product.ID + "\">" + order.Product.Title + "</a></div>")
                    }
                    else
                    {
                                    @Html.Raw("<div>进销存系统内无此商品</div>")
                    }
                    //@Html.Raw("<div>产品编码："+order.Product.ID+"</div>")
                    if (order.Product != null && order.Product.Properties != null)
                    {
                        string propValue = "";
                        foreach (KM.JXC.BL.Models.BProductProperty prop in order.Product.Properties)
                        {
                            if (propValue == "")
                            {
                                propValue = prop.PName + "：" + prop.PValue;
                            }
                            else
                            {
                                propValue += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + prop.PName + "：" + prop.PValue;
                            }
                        }
                                        
                                                @Html.Raw("<div class=\"item\">" + propValue + "</div>")
                    }
                    @Html.Raw("<div class=\"item\">"+order.Message+"</div>")
                                     
                                @Html.Raw("</div>")
                                @Html.Raw("<div class=\"s_o_col colw2 fAlign1\">") 
                                    @Html.Raw(order.Price)               
                                @Html.Raw("</div>")
                                @Html.Raw("<div class=\"s_o_col colw2 fAlign1\">")  
                                    @Html.Raw(order.Quantity)                
                                @Html.Raw("</div>")
                              @Html.Raw("</div>")
                            @Html.Raw("</div>")
                    //}
                }
                    @Html.Raw("</div>")
                //buyer
                    @Html.Raw("<div class=\"s_body sbw2 fAlign1\">")
                        @Html.Raw(sale.Buyer.Mall_ID)
                    @Html.Raw("</div>")
                    @Html.Raw("<div class=\"s_body sbw2 fAlign1\"><span style=\"font-weight:bold;\">")
                        @Html.Raw(sale.Amount.ToString("0.00"))
                    @Html.Raw("</span></div>")
                @Html.Raw("</div>")
            }
        }
    </div>
    @{
        string pageHtml = KM.JXC.Web.Utilities.JXCPager.Pager(data);
        if (!string.IsNullOrEmpty(pageHtml))
        {
            <div class="s_title spage pager">
                 @Html.Raw(pageHtml)

            </div>
        }  
     }
    
    
</div>


